@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

ul {
	margin: 0px;
    list-style: none;
}

.clearfix:after {
    content: '';
    display:block;
    clear:both;
}

.hero {
	height: 600px;
    background: url("../images/find-an-agent.png");
    background-size: cover;
    color: #EEEEEE;
}

.hero h1 {
    font-size: 56px;
}

.hero h2 {
    font-size: 28px;
}

form {
    font-size: 28px;
}

form input[type="text"]{
    padding: 14px;
    border: 0;
    width: 350px;
    border-radius: 2px 0 0 2px;
    background-color: #efefef;
    opacity: .3;
}

form input[type="button"]{
    color: #eeeeee;
    padding: 14px;
    border: 0px;
    background-color: lightgreen;
    border-radius: 0 2px 2px 0;
    width: 104px;
}

header img {
	float: left;
	width: 85px
}

header ul {
	float: right;
}

header ul li {
	float: left;
	margin: 0 7px;
	padding: 14px;
}

header ul li:last-child {
    border: 3px solid white;
    border-radius: 5px;
}

.numbers {
    width: 80%;
    margin: 0 auto;
} 

.numbers ul {
    position: relative;
    top: -55px;
    background: #efefef;
    padding-left: 0px;
}

.numbers ul li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    border-top: 1px solid #d9dada;
    border-bottom: 1px solid #d9dada;
    border-left: 1px solid #d9dada;
}

.numbers ul li:last-child {
    border-right: 1px solid #d9dada;
}

section.how-it-works ul li {
	float: left;
	width: 33.33%;
}

section.why-choose-us .column {
	float: left;
	width: 50%;
}

section.why-choose-us ul li {
	width: 400px;
	display: inline-block;
}

section.why-choose-us ul li span {
	float: left;
	width: 10%;
}

section.why-choose-us ul li div {
	float: left;
	width: 90%;
}

section.why-choose-us ul li h3 {
	margin-top: 0px;
}

footer nav ul {
	float: left;
}

footer nav ul li {
	float: left;
	margin-left: 20px;
}

footer .icons {
	position: relative;
	right: -680px;
	top: -18px;
}

footer .icons i {
	margin-left: 10px;
}
