body {
	margin: 0;
    text-align: center;
}

ul {
	margin: 0px;
    list-style: none;
}

section {
    border: 1px solid #CCCCCC;
}

.clearfix:after {
    content: '';
    display:block;
    clear:both;
}

section.hero {
	height: 400px;
}

.hero {
	margin: 0 auto;
}

header img {
	float: left;
	width: 85px
}

header ul {
	float: right;
}

header ul li {
	float: left;
	margin: 0 7px;
	padding: 14px;
}

.numbers ul li {
	float: left;
	width: 25%;
}

section.how-it-works ul li {
	float: left;
	width: 33.33%;
}

section.why-choose-us .column {
	float: left;
	width: 50%;
}

section.why-choose-us ul li {
	width: 400px;
	display: inline-block;
}

section.why-choose-us ul li span {
	float: left;
	width: 10%;
}

section.why-choose-us ul li div {
	float: left;
	width: 90%;
}

section.why-choose-us ul li h3 {
	margin-top: 0px;
}

footer nav ul {
	float: left;
}

footer nav ul li {
	float: left;
	margin-left: 20px;
}

footer .icons {
	position: relative;
	right: -680px;
	top: -18px;
}

footer .icons i {
	margin-left: 10px;
}
