body {
	margin: 0;
    text-align: center;
}

ul {
	margin: 0px;
    list-style: none;
}

section {
    border: 1px solid #CCCCCC;
}

.clearfix:after {
    content: '';
    display:block;
    clear:both;
}

section.hero {
	height: 400px;
}

.hero {
	margin: 0 auto;
}

header img {
	float: left;
	width: 85px
}

header ul {
	float: right;
}

header ul li {
	float: left;
	margin: 0 7px;
	padding: 14px;
}
